### Python ###
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.ipynb_checkpoints/

### Datos regenerables (NO versionar) ###
data/raw/

### Logs ###
resultados/*.log
*.log

### IDE / SO ###
.idea/
.vscode/
.DS_Store
Thumbs.db

