### Python ###
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.ipynb_checkpoints/

### Datos regenerables (NO versionar) ###
data/raw/
data/pandas/*
!data/pandas/.gitkeep
data/spark/*
!data/spark/.gitkeep

### Logs ###
resultados/*.log
*.log

### IDE / SO ###
.idea/
.vscode/
.DS_Store
Thumbs.db

